<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title is-2 section-title">{{- .Title -}}</h1>
        <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
        <div class="divider"></div>
        {{/*  <section class="section content">  */}}
        <section class="section content has-text-justified">
          <!-- <div class="content"> -->
            {{- .Content -}}
          <!-- </div> -->
        </section>
      </div>
    </div>
  </div>  
  <!-- <div class="container">
    <div class="columns">
      <div class="column">
      </div>
    </div>
  </div> -->
  {{- if .Params.PublishDate -}}
  <div class="container">
    <div class="columns">
      <div class="column has-text-right is-family-monospace is-centered-tablet-portrait">
        {{ "Date Published" }}:&nbsp;
        {{- .PublishDate.Format "2 January 2006" -}}
      </div>
    </div>
  </div>
  {{- end -}}
  {{- if not .Params.hideLastModified -}}
  <div class="container">
    <div class="columns">
      <div class="column has-text-right is-family-monospace is-centered-tablet-portrait">
        {{ "Last Modified" }}:&nbsp;
        {{- .Lastmod.Format "2 January 2006" -}}
      </div>
    </div>
  </div>
  {{- end -}}

    <!-- Share Buttons -->
    <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="right:30px; top:350px;">
      <a class="a2a_button_linkedin"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_email"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- Share Buttons End -->
</section>
